@use "../../styles/abstracts/variables" as *;

.competences {
  background-color: $color-blue-turquoise;
  padding: $padding-section;
  color: $color-white;
  text-align: center;

  & h2 {
    font-size: $font-size-responsive--title;
    margin-bottom: $margin__bottom--title;

    span {
      color: $color-green-light;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 800px;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
      gap:0;
      
    }
  }
}
