@use "../../styles/abstracts/variables" as *;

.project-section {
  background-color: $color-blue-navy;
  color: $color-white;
  min-height: 100vh;
  padding: $padding-section;

  h2 {
    text-align: center;
    font-size: $font-size-responsive--title;
    font-weight: bold;
    margin-bottom: $margin__bottom--title;
  }

  .filter-bar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 2rem;
    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: center;
    }

    button {
      padding: 0.5rem 1.5rem;
      border-radius: 50px;
      font-size: $font-size-responsive--button;
      font-weight: bold;
      border: 2px solid $color-white;
      background: transparent;
      color: $color-white;
      transition: all 0.3s ease;

      &.active {
        background-color: $color-green-light;
        color: $color-blue-navy;
        border-color: $color-green-light;
      }

      &:hover:not(.active) {
        background: $color-white;
        color: $color-blue-navy;
      }
    }
  }

  .project-grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }

  .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    word-break: break-word;  /* pour couper les mots longs */
    background: $color-white;
    color: $color-blue-navy;
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: center;
    transition: box-shadow 0.3s;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

    &:hover {
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    }

    img {
      width: 64px;
      height: 64px;
      object-fit: contain;
      margin-bottom: 1rem;
    }

    h3 {
      font-size: $font-size-responsive--text;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }

    :nth-child(3) {
      font-size: $font-size-responsive--text;
      margin-bottom: 0.5rem;
    }

    :nth-child(4) {
      font-size: $font-size-responsive--text;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  }
}
