$font-family: "Exo2", sans-serif;
$color-white: white;
$color-blue-turquoise: #1A6E98;
$color-blue-navy: #131D36;
$color-green-light: #A8CC3D;
$color-red: #DD312E;
$underline-width: 20%;
$underline-margin: 0 auto 1.5rem;
$margin__bottom--title: 1.5rem;
$padding-section: 4rem 2rem;
$padding__header-footer: 2rem;
$padding-left__header-footer: 5%;
$font-size-responsive--title: clamp(1.3rem, 4vw, 2rem);
$font-size-responsive--text: clamp(0.9rem, 2vw, 1rem);
$font-size-responsive--header-footer: clamp(1rem, 3vw, 1.1rem);
$font-size-responsive--button: clamp(0.6rem, 2vw, 0.9rem);