$font-family: "Exo2", sans-serif;
$color-white: white;
$color-blue-turquoise: #1A6E98;
$color-blue-navy: #131D36;
$color-green-light: #A8CC3D;
$color-red: #DD312E;
$padding-section: 4rem 2rem;
$font-size-responsive: clamp(1.1rem, 4vw, 1.4rem);