@use "../../styles/abstracts/variables" as *;

.skillbar {
  margin-bottom: 1.5rem;

  .skillbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-responsive--text;
    font-weight: 600;
    margin-bottom: 0.3rem;
    color: $color-white;
  }

  .skillbar-track {
    background-color: #294c82;
    height: 1rem;
    border-radius: 6px;
    overflow: hidden;
    width: 100%;
    @media screen and (max-width: 768px) {
      height: 0.5rem;
      
    }

    .skillbar-fill {
      height: 100%;
      width: 0%;
      background: linear-gradient(90deg, $color-red, $color-green-light);
      border-radius: 6px;
      transition: width 1.4s ease-out;
    }
  }
}
