@use "../../styles/abstracts/variables" as *;

.navBar {
  padding: $padding__header-footer;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5rem;
  font-size: $font-size-responsive--header-footer;
  @media screen and (max-width: 768px) {
    gap: 1rem;
    flex-direction: column;   
  }

  a {
    color: $color-white; // Blanc
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover {
      color: $color-white;
      text-shadow: 0 0 5px #000;
    }

    &.active {
      color: $color-green-light; // Vert clair (pour le lien actif)
      font-weight: bold;
    }
  }
}
